extends master

block pageContent
  div(class="banner")
    div(class="searchField")
      h1 Need a New Password?
      br
      form(action="/forgot", method="post")
        p Type your email address into the box below to have a password reset link sent to you.
        p 
          strong Please note 
          span - if you are signed in and are changing your password you will be signed out.
        if (messagesInfo.email.includes("validEmail"))
          label(style="color: red; font-weight: bold;", for="email") Not a valid email address
        else if (messagesInfo.email.includes("newEmail"))
          label(style="color: red; font-weight: bold;", for="email") An account with that email address does not exist
        input(name="email", type="email", placeholder="Email Address", class="inputBox", required)
        input(type="submit", class="button", value="Send Link", style="margin-top: 1rem;")
        if (messagesInfo.message.includes("resent"))
          p A password reset link was sent to your email address.
