nav(class="masterSearch")
  form(method="post", action="/")
    select(id="searchOptions", onchange="UpdatePriceLabels(value)", name="category")  
      option(value="buy") Buy
      option(value="rent") Rent
    label(for="searchBy", style="color: white") Search by
    select(id="searchOptions", onchange="UpdateSearchBarPlaceholder('searchOptions')", name="searchBy")  
      option(value="suburb") Suburb
      option(value="postcode") Postcode
      option(value="state") State
      option(value="region") Region
    input(id="buyBar", class="searchBar", type="text", name="search", placeholder="Search by Suburb", required)
    label(for="minBeds", style="color: white") Beds (min)
    select(id="minBeds", name="minBeds")  
      option(value="-1") Any
      option(value="0") Studio
      option(value="1") 1 Bed
      option(value="2") 2 Beds
      option(value="3") 3 Beds
      option(value="4") 4 Beds
      option(value="5") 5 Beds
    label(for="maxBeds", style="color: white") Beds (max)
    select(id="maxBeds", name="maxBeds")  
      option(value="-1") Any
      option(value="0") Studio
      option(value="1") 1 Bed
      option(value="2") 2 Beds
      option(value="3") 3 Beds
      option(value="4") 4 Beds
      option(value="5") 5 Beds
    label(id="minPriceLabel", for="minPrice", style="color: white") Price (Min)
    select(id="minPrice", name="minPrice")  
      option(value="-1") Any
      - for(var i = 25000; i < 15000000; i+=25000) {
          option(value=i)="$"+i
      - }
    label(id="maxPriceLabel", for="maxPrice", style="color: white") Price (Max)
    select(id="maxPrice", name="maxPrice")  
      option(value="-1") Any
      - for(var i = 25000; i < 15000000; i+=25000) {
          option(value=i)="$"+i
      - }  
    input(type="submit", class="button", value="Search")
