doctype html
html(lang="en")
	head
		title=masterInfo.pageTitle
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no")
		link(href="./public/style.css", rel="stylesheet", type="text/css")
		link(rel="icon", type="image/png", href="./public/favicon.png")
	body
		header(class="header")
			nav(class="navigation")
				ul(class="navbar")
					li(class="navbarOption ", style="float:left;")
						a(class="navbarOptionLink", href="/")
							img(src="./public/images/logoButton.png", style="height: 100%;")

		div(class="registerloginsection")
			form(method="post", class="formbox")
				h3 Create an account...
				div(class="formboxDiv formBoxName", style="padding-right: 2%;")
					label(for="givenName") First Name
					input(name="givenName", type="text", required)
				div(class="formboxDiv formBoxName")
					label(for="surname") Last Name
					input(name="surname", type="text", required)
				div(class="formboxDiv")
					label(for="email") Email Address
					input(name="email", type="email", required)
				div(class="formboxDiv")
					label(for="dob") Age
					input(name="dob", type="text", required)
				div(class="formboxDiv")
					label(for="password") Password
					input(name="password", type="password", required)
				div(class="formboxDiv")
					label(for="confirmPassword") Confirm Password
					input(name="confirmPassword", type="password", required, style="width: 100%;  position: relative; top: 0;")
				div(style="text-align: center;")
					input(type="submit", formaction="/registered", value="Register", style="width: 90%; text-align")
				
			div(class="grid-item", style="background-color: rgba(0,0,0,0);")
				
			form(method="post", class="formbox")
				h3 Or log in
				div(class="formboxDiv")
					label(for="email") Email Address
					input(name="email", type="email", required)
				div(class="formboxDiv")
					label(for="password") Password
					input(name="password", type="password", required)
				div(style="text-align: center; ")
					input(type="submit", formaction="/loggedin", value="Log in", style="width: 90%; text-align")
				a(href="/login", style="text-align: center") 
					p(style="font-size: 1rem;") Already a member but forgot your password?

		hr
		footer &copy; EstAIte Agents 2019
