extends master

block pageContent
  div(class="banner")
    div(class="searchField")
      h1 Reset Your Password
      br
      form(action="/resetpassword", method="post")
        if (messagesInfo.token)
          p Type your new password and click save to be sent back to the log in page.
          if (messagesInfo.password.includes("validPassword"))
            label(style="color: red; font-weight: bold;", for="email") This is not a valid password. Please try again.
          input(name="password", type="password", placeholder="New Password", class="inputBox", required)
          input(name="confirmPassword", type="password", placeholder="Confirm New Password", class="inputBox", style="margin-top: 1rem; margin-bottom: 1rem;", required)
          input(type="submit", class="button", value="Save")
        else
          p Invalid URL, please go to our homepage and try again.
