extends master

block pageContent
		div(class="banner")
			div(class="searchField")
				form(method="post")
					h1 Resend Your Verification Code
					br
					p Enter the email address associated with your account and we will send you a new verification code.
					div(class="formboxDiv")
						if (messagesInfo.email.includes("existingEmail"))
							label(style="color: red; font-weight: bold;", for="givenName") No account found with that email address
						else if (messagesInfo.email.includes("newEmail"))
							label(style="color: red; font-weight: bold;", for="givenName") Invalid email address
						input(name="email", id="email", type="email", placeholder="Email Address", class="inputBox", style="margin-bottom: 1rem;", required)
						input(type="submit", formaction="/reverify", class="button", value="Log In", style="margin-bottom: 2rem;")
						a(href="/verify", class="button", style="padding: 1rem 0rem;") Return to Verification Screen
