extends master

block pageContent
		div(class="banner")
			div(class="searchField")
				form(method="post")
					h1 Verify your Account to Sign In
					br
					p We sent you an email which included a 4 digit verification code, sign in with your email address and password with that code to verify your account.
					div(class="formboxDiv")
						if (messagesInfo.emailNotUsed)
							label(style="color: red; font-weight: bold;", for="givenName") No account was found with that email address.
						else if (messagesInfo.emailNotValid)
							label(style="color: red; font-weight: bold;", for="givenName") Invalid email address
						input(name="email", id="email", type="email", placeholder="Email Address", class="inputBox", required)
					div(class="formboxDiv")
						if (messagesInfo.passwordNotValid)
							label(style="color: red; font-weight: bold;", for="givenName") Invalid Password
						input(name="password", type="password", placeholder="Password", class="inputBox", required)
					div(class="formboxDiv")
						if (messagesInfo.codeNotCorrect)
							label(style="color: red; font-weight: bold;", for="givenName") This is not the correct code
						input(name="code", type="text", placeholder="4 Digit Verification Code", class="inputBox", style="margin-bottom: 1rem;", required)
					div(style="text-align: center; ")
						input(type="submit", formaction="/verify", class="button", value="Log In", style="margin-bottom: 1rem;")
						br
						a(href="/reverify", style="color: white; text-decoration: none;") Didn't receive a code? 
						a(href="/reverify", style="color: red;") Click here to send another.
