body, html {
	min-height: 100vh;
	min-width: 320px;
	width: 100%;
	margin: 0;
	font-family: sans-serif, Geneva, Tahoma ;
	overflow-x: hidden;
}

.policySection {

}

.header{
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 100%;
}

.navigation {
	min-height:2rem;
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: .125rem solid rgb(228,48,48);
}

.navigationProfileOption:hover {
	background-color: rgb(25,25,25)
}

.navigationProfileOption {
	padding: .5rem .25rem;
}

.navigationHomeOption {
	padding: .5rem .25rem;
}

.profileSideMenu {
	position: absolute;
	display: none;
	right: 0;
	min-width: 10rem;
	background-color: rgb(228,48,48);
	border-left: .125rem solid rgb(228,48,48);
	border-bottom: .125rem solid rgb(228,48,48);
}

.profileSideMenuOptionLink {
  display: block;
  color: white;
  text-align: center;
	height: 2rem;
	padding: .5rem .5rem;
	font-size: 1.6rem;
  text-decoration: none;
	border-bottom: .125rem solid rgb(255,96,96);
}

.profileSideMenuOptionLink:hover {
  background-color: rgb(255,96,96)
}

.navigationButton{
	height: 100%;
}

.mobileExclusive {
	display: none;
}

.desktopExclusive {
	display: block;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,1);
}

.navbarOption {
  float: right;
	margin: 0;
	padding: 0;
}

.navbarOptionLink {
  display: block;
  color: white;
  text-align: center;
	height: 2rem;
	min-width: 10rem;
	font-size: 1.6rem;
  text-decoration: none;
}

.navbarOptionLink:hover {
  border-top: .25rem solid white;
	margin-bottom: -.25rem;
}

.banner {/*Needs to change*/
	min-height: 70vh;
	border-bottom: .2rem solid black;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("./images/indexBannerBackground.png");
}

.registerloginsection {
  display: grid;
  grid-template-columns: 50% 1rem 50%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("./images/indexBannerBackground.png");
  padding: 7.5% 5%;
	min-height: 100%;
}

.registerloginsection input{
	width: 100%;
  padding: 0rem 0rem;
	font-size: 1.25rem;
	padding: .5rem 0rem;
  margin: 0rem 0;
  box-sizing: border-box;
	position: relative;
	top: 0;
}

.button {
  background-color: rgb(228,48,48);
  border: none;
  color: white;
  padding: 15px 32px;
	border-radius: .25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

.registerloginsection label{
	color: grey;
	font-size: 1rem;
	padding: .5rem .25rem;
}

.formbox {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  font-size: 1.5rem;
	text-align: left;
	padding: 5% 2rem;
}

.formboxDiv {
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: block;
}

.formBoxName{
	width: 49%;
	display: inline-block;
}

.formBoxNameFirstName{
	padding-right: 2%;
}



@media screen and (max-width: 1200px) {/*Probably tablet*/

}

@media screen and (max-width: 720px) {/*Probably phone*/
	.profileSideMenu {
		left: 0;
		min-width: 100%;
	}

	.navbarOptionLink {
	  display: block;
	  color: white;
	  text-align: center;
		height: 2rem;
		min-width: 100%;
		font-size: 1.6rem;
	  text-decoration: none;
	}

	.navbarOptionLink:hover {
	  border-top: 0rem solid white;
		margin-bottom: 0rem;
	}

	.mobileExclusive {
		display: block;
	}

	.desktopExclusive {
		display: none;
	}

	.registerloginsection {
	  display: block;
	  padding: 2% 5%;
	}

	.formbox {
	  background-color: rgba(255, 255, 255, 0.8);
	  border-radius: .5rem;
	  font-size: 1.5rem;
		text-align: left;
		padding: 1% 2rem;
		margin: 5rem 0 ;
	}

	.formboxDiv {
		width: 100%;
		padding-top: 1rem;
		padding-bottom: 1rem;
		display: block;
	}

	.formBoxName{
		width: 100%;
		display: block;
	}
}

@media screen and (max-width: 480px) {/*Probably worst case*/
	/*being honest, not sure how to optimise for old stuff*/
}
