body, html {
	min-height: 100vh;
	min-width: 320px;
	width: 100%;
	margin: 0;
	font-family: sans-serif, Geneva, Tahoma ;
}

.header{
	position: sticky;
	top: 0;
	z-index: 100;
	width: 100%;
}

.navigation {
	min-height:2rem;
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: .125rem solid rgb(228,48,48);
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,1);
}

.navbarOption {
  float: right;
	margin: 0;
	padding: 0;
}

.navbarOptionLink {
  display: block;
  color: white;
  text-align: center;
	height: 2rem;
	padding: .5rem .5rem;
	font-size: 1.6rem;
  text-decoration: none;
}

.navbarOptionLink:hover {
  border-top: .25rem solid white;
	margin-bottom: -.25rem;
}

.banner {/*Needs to change*/
	min-height: 70vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("./images/indexBannerBackground.png");
}

.registerloginsection {
  display: grid;
  grid-template-columns: 50% 1rem 50%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("./images/indexBannerBackground.png");
  padding: 5% 5%;
	min-height: 100%;
}

.registerloginsection input{
	width: 100%;
  padding: 0rem 0rem;
	font-size: 1.5rem;
	padding: .5rem 0rem;
  margin: 0rem 0;
  box-sizing: border-box;
	position: relative;
	top: 0;
}

.registerloginsection label{
	color: grey;
	position: absolute;
	z-index: 100;
	pointer-events: none;
	padding: .5rem .25rem;
}

.formbox {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  font-size: 1.5rem;
	text-align: left;
	padding: 5% 2rem;
}

.formboxDiv {
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: block;
}

.formBoxName{
	width: 49%;
	display: inline-block;
}

.formBoxNameFirstName{
	padding-right: 2%;
}



@media screen and (max-width: 1200px) {/*Probably tablet*/
	.navbar {
	  background-color: rgba(0,0,255,1);
	}
}

@media screen and (max-width: 720px) {/*Probably phone*/
	.navbar {
	  background-color: rgba(255,0,0,1);
	}

	.registerloginsection {
	  display: block;
	  padding: 5% 5%;
	}

	.formbox {
	  background-color: rgba(255, 255, 255, 0.8);
	  border-radius: 1rem;
	  font-size: 1.5rem;
		text-align: left;
		padding: 1% 2rem;
		margin: 5rem 0 ;
	}

	.formboxDiv {
		width: 100%;
		padding-top: 1rem;
		padding-bottom: 1rem;
		display: block;
	}

	.formBoxName{
		width: 100%;
		display: block;
	}
}

@media screen and (max-width: 480px) {/*Probably worst case*/
	.navbar {
	  background-color: rgba(0,255,0,1);
	}
}
